.wrapper {
  width: 90%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

.night {
  background-color: #323639;
  color: #fff;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 80%;
    max-width: 1000px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: none;
  }
  h1 {
    grid-column: 1/3;
  }
}
